<h1><strong>Cleaning Of Data Sets Using Python</strong></h1>

<h2><strong>Loading The Required Libraries</strong></h2>

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<h2><strong>Loading The Required Datasets</strong></h2>

In [44]:
data_df = pd.read_csv(r"C:\Users\USER\Documents\Course Work\Data Analysis Projects\data.csv")
imdb_df = pd.read_csv(r"C:\Users\USER\Documents\Course Work\Data Analysis Projects\imdb_movie_dataset.csv")

<h2><strong>Checking Each DataSet</strong></h2>

In [45]:
data_df.head()

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Blondie,movie,"Comedy, Family",1938.0,tt0029927,6.9,886.0,"US, ZA"
1,Ariel,movie,"Comedy, Crime, Romance",1988.0,tt0094675,7.4,8754.0,JP
2,Four Rooms,movie,Comedy,1995.0,tt0113101,6.7,112548.0,"AT, DE"
3,Judgment Night,movie,"Action, Crime, Drama",1993.0,tt0107286,6.6,19290.0,US
4,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2315889.0,"AD, AT, CU, DE, IN, JP, SN"

In [46]:
imdb_df.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

<h2><strong>Finally, Cleaning Of The DataSets</strong></h2>

In [47]:
data_df.isnull().sum()

title                 1480
type                     0
genres                1811
releaseYear            168
imdbId                5618
imdbAverageRating     7741
imdbNumVotes          7741
availableCountries       0
dtype: int64

In [48]:
imdb_df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [49]:
data_df.dropna(inplace=True)

In [50]:
imdb_df.dropna(inplace=True)

In [51]:
data_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
67025    False
67027    False
67029    False
67035    False
67040    False
Length: 59254, dtype: bool

In [52]:
imdb_df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
993    False
994    False
996    False
997    False
999    False
Length: 838, dtype: bool

In [53]:
data_df.drop_duplicates(inplace=True)

In [54]:
imdb_df.drop_duplicates(inplace=True)

In [55]:
data_df['releaseYear'] = np.round(data_df['releaseYear']).astype(int)
data_df['imdbNumVotes'] = np.round(data_df['imdbNumVotes']).astype(int)

In [56]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59254 entries, 0 to 67040
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               59254 non-null  object
 1   type                59254 non-null  object
 2   genres              59254 non-null  object
 3   releaseYear         59254 non-null  int64
 4   imdbId              59254 non-null  object
 5   imdbAverageRating   59254 non-null  float64
 6   imdbNumVotes        59254 non-null  int64
 7   availableCountries  59254 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 4.1+ MB

In [57]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 838 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                838 non-null    int64
 1   Title               838 non-null    object
 2   Genre               838 non-null    object
 3   Description         838 non-null    object
 4   Director            838 non-null    object
 5   Actors              838 non-null    object
 6   Year                838 non-null    int64
 7   Runtime (Minutes)   838 non-null    int64
 8   Rating              838 non-null    float64
 9   Votes               838 non-null    int64
 10  Revenue (Millions)  838 non-null    float64
 11  Metascore           838 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 85.1+ KB

In [62]:
data_df = data_df.rename(columns={'title':'Title'})

In [61]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 59254 entries, 0 to 67040
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               59254 non-null  object
 1   type                59254 non-null  object
 2   genres              59254 non-null  object
 3   releaseYear         59254 non-null  int64
 4   imdbId              59254 non-null  object
 5   imdbAverageRating   59254 non-null  float64
 6   imdbNumVotes        59254 non-null  int64
 7   availableCountries  59254 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 4.1+ MB

In [64]:
merged_df = pd.merge(data_df,imdb_df, on='Title', how='inner')
print(merged_df)

                                                 Title   type  \
0                                      The Dark Knight  movie
1                                  Lucky Number Slevin  movie
2                         Sin City: A Dame to Kill For  movie
3    Indiana Jones and the Kingdom of the Crystal S...  movie
4                                     Ocean's Thirteen  movie
..                                                 ...    ...
827                          What We Do in the Shadows     tv
828                                    Vampire Academy     tv
829                                          Moonlight     tv
830                                              Enemy     tv
831                                   Marie Antoinette     tv

                        genres  releaseYear      imdbId  imdbAverageRating  \
0         Action, Crime, Drama         2008   tt0468569                9.0
1       Crime, Drama, Thriller         2006   tt0425210                7.7
2      Action, Crime, Thriller         2014   tt0458481                6.5
3            Action, Adventure         2008   tt0367882                6.2
4              Crime, Thriller         2007   tt0496806                6.9
..                         ...          ...         ...                ...
827    Comedy, Fantasy, Horror         2019   tt7908628                8.6
828             Drama, Fantasy         2022  tt14689620                6.4
829     Comedy, Drama, Romance         2021  tt14818618                7.2
830             Drama, Mystery         2021  tt16606418                7.5
831  Biography, Drama, History         2022  tt15384074                7.3

     imdbNumVotes                                 availableCountries  Rank  \
0         2941101  AD, CH, CI, DK, FI, FR, GF, GH, IN, IT, JP, KE...    55
1          329296  AR, AU, BO, CA, CO, CR, DO, GB, GG, GT, HN, IE...   960
2          172589                 AD, AT, BR, DE, FR, GF, MC, PF, PT   427
3          497014     AD, FR, GB, GF, GG, GI, IE, JP, MC, PF, PT, US   768
4          372625         CI, GH, IN, JP, KE, MZ, NE, NG, UG, ZA, ZM   908
..            ...                                                ...   ...
827        109463                                         AT, CH, DE   381
828          9302                                 AD, FR, GF, MC, PF   650
829           171                                         GB, GG, US    42
830            54                                         GB, GG, US   468
831          3218                                                 NL   472

                        Genre  \
0          Action,Crime,Drama
1         Crime,Drama,Mystery
2       Action,Crime,Thriller
3    Action,Adventure,Fantasy
4              Crime,Thriller
..                        ...
827     Comedy,Fantasy,Horror
828     Action,Comedy,Fantasy
829                     Drama
830          Mystery,Thriller
831   Biography,Drama,History

                                           Description           Director  \
0    When the menace known as the Joker wreaks havo...  Christopher Nolan
1    A case of mistaken identity lands Slevin into ...      Paul McGuigan
2    Some of Sin City's most hard-boiled citizens c...       Frank Miller
3    Famed archaeologist/adventurer Dr. Henry "Indi...   Steven Spielberg
4    Danny Ocean rounds up the boys for a third hei...  Steven Soderbergh
..                                                 ...                ...
827  A documentary team films the lives of a group ...    Jemaine Clement
828  Rose Hathaway is a Dhampir, half human-half va...        Mark Waters
829  A chronicle of the childhood, adolescence and ...      Barry Jenkins
830  A man seeks out his exact look-alike after spo...   Denis Villeneuve
831  The retelling of France's iconic but ill-fated...      Sofia Coppola

                                                Actors  Year  \
0    Christian Bale, Heath Ledger, Aaron Eckhart,Mi...  2008
1    Josh Hartnett, Ben Kingsley, Morgan Freeman, L...  2006
2    Mickey Rourke, Jessica Alba, Josh Brolin, Jose...  2014
3    Harrison Ford, Cate Blanchett, Shia LaBeouf,Ka...  2008
4    George Clooney, Brad Pitt, Matt Damon,Michael ...  2007
..                                                 ...   ...
827  Jemaine Clement, Taika Waititi,Cori Gonzalez-M...  2014
828  Zoey Deutch, Lucy Fry, Danila Kozlovsky, Gabri...  2014
829  Mahershala Ali, Shariff Earp, Duan Sanderson, ...  2016
830  Jake Gyllenhaal, MÃ©lanie Laurent, Sarah Gadon,...  2013
831  Kirsten Dunst, Jason Schwartzman, Rip Torn, Ju...  2006

     Runtime (Minutes)  Rating    Votes  Revenue (Millions)  Metascore
0                  152     9.0  1791916              533.32       82.0
1                  110     7.8   271940               22.49       53.0
2                  102     6.5   122185               13.75       46.0
3                  122     6.2   351361              317.01       65.0
4                  122     6.9   269581              117.14       62.0
..                 ...     ...      ...                 ...        ...
827                 86     7.6    84016                3.33       76.0
828                104     5.6    44111                7.79       30.0
829                111     7.5   135095               27.85       99.0
830                 91     6.9   111558                1.01       61.0
831                123     6.4    83941               15.96       65.0

[832 rows x 19 columns]

In [67]:
merged_df.fillna({'IMBd Average Rating':0, 'IMBd Number of Votes':0, 'Runtime (Minutes)':0}, inplace=True)